include partials/header
    .fact-type
        h4 Get facts based on the date and month
    form.form-field(method="get", action="/datefact")
        .input-box
            label.label-text Day:
            input(type='number', min='1', max='31', placeholder='day', required='', name="day")
            label.label-text Month:
            input(type='number', min='1', max='12', placeholder='month', required='', name="month")
        button.generate-fact(type='submit') Get Fact
    .show-fact
        p.fact-text
            span.fact
                strong The Fact : 
            | #{result.text}
        p.number
            span.fact
                strong The Year : 
            | #{result.year}
        p.number
            span.fact
                strong The Number : 
            | #{result.number}