include partials/header
    .home-page
        h1.home-heading Get Facts
        p.home-para Get random and interesting facts on different parameters like Math number, Date and many more. These facts will blow your mind.
include partials/footer