include partials/header
    .fact-type
        h4 Get facts based on the number
    form.form-field(action='/mathfact', method='get')
        .input-box
            input(type='text', placeholder='enter a number', required='', autocomplete='off', name="number")
        button.generate-fact(type='submit') Get Fact
    .show-fact
        p.fact-text
            span.fact
                strong The Fact : 
            | #{result.text}
        p.number
            span.fact
                strong The Number : 
            | #{result.number}

include partials/footer