include partials/header
    .fact-type
        h4 Get facts based on the year
    form.form-field(action='/yearfact', method='get')
        .input-box
            input(type='text', placeholder='enter a year', required='', autocomplete='off', name="year")
        button.generate-fact(type='submit') Get Fact
    .show-fact
        p.fact-text
            span.fact
                strong The Fact : 
            - var text = result.text 
            | #{text.substr(0, 1).toUpperCase() + text.slice(1, text.length)}
        p.number
            span.fact
                strong The Year : 
            | #{result.number}
include partials/footer